<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level%marker | %X{traceId} | %relative ms| %-40(%logger{40}) | %msg\n</pattern>
        </encoder>
        <!-- only INFO and DEBUG levels to STDOUT -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5level%marker | %X{traceId} | %relative ms| %-40(%logger{40}) | %msg\n</pattern>
        </encoder>
        <!-- only WARN and ERROR levels to STDOUT -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- root appender output to a file up to and including the level in next line -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="stderr"/>
    </root>

    <logger name="akka.io.TcpListener" level="ERROR"/>
</configuration>